.weight-card{
    text-align: center;
    max-width: 80%;
    margin-bottom: 6rem;
    padding: 3rem;

}

.weight-title{
    margin-bottom: 1.5rem;

}


.weight-logs{
    display: flex ;
   
    justify-content: center;

}

.weight-ul{
    list-style-type: none;
}

.weight-entry{
    margin-top: 1.2rem;
}

.weight-delete{
    background-color: #ffffff;
    color: #79d5db;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    min-width: 2rem;
    margin-left: 1rem;
    font-weight: 1000;
}

.weight-delete:hover{
    background-color:#83dce2;
    color: white;
}

.weight-summary{
    margin: 1rem;
    font-size: 1.1rem;
 
}

.weight-log-column {
    flex: 1;

    
    padding: 1rem;
    box-sizing: border-box;
  }