
body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
}


.header {
    background: linear-gradient(to right, #ccfed8, #95b9ff);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}


.container {
    max-width: 70%;
}


.date-time,
.exercise-type,
.length-input {
    margin-bottom: 25px;  /* Increased margin to space out form fields */
}


.date-time label,
.exercise-type label,
.length-input label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}


.date-time input,
.exercise-type input,
.length-input input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 10px;
}

.type-btn {
    padding: 12px 20px;
    border: 1px solid #427d9d;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Added transition for smooth effect */
}

.type-btn:hover {
    background-color: #a8b4c3;  /* Light grey background */
    color: #161515;  /* Grey text color */
    border-color: #a4c4fa;  /* Slightly darker border on hover */
}


#log-btn {
    width: 100%;
    background: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#log-btn:hover {
    background-color: #333;
}


.excerise-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between all the form fields */
}


