
.exercise-form {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.exercise-form p.section-subtitle {
  margin-bottom: 1.5rem;
  color: #444;
}

.exercise-form .data-time,
.exercise-form .exercise-type {
  margin-bottom: 1.25rem;
}

.exercise-form input[type="text"],
.exercise-form input[type="number"],
.exercise-form input[type="date"] {
  margin-bottom: 1rem;
}


.chart-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chart-container summary {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0;
  cursor: pointer;
}

.logs-list {
  margin-bottom: 1.5rem;
}

.log-card {
  padding: 1rem;
  gap: 1rem;
}

.log-details span {
  font-size: 0.95rem;
}

#log-btn {
  width: 100%;
  background: linear-gradient(90deg, #cbfdda, #96bbff);
  color: #000;
  padding: 12px;
  border: 1px solid #7291b9;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.2s;
}

#log-btn:hover {
  background: linear-gradient(90deg, #9ff5c9, #779ff7);
  transform: translateY(-2px);
}


.edit-btn {
  background: rgb(197, 220, 236);
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: color 0.2s;
  margin-left: 0.5rem;
}

.edit-btn:hover {
  color: #333;
}


.cards-container {
  padding: 3rem 2rem;
  gap: 3rem;
}

.cards-container .card {
  padding: 2rem;
}

.input-pair {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
  flex-wrap: wrap;
}

.input-pair input {
  flex: 1 1 200px;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid #7291b9;
  font-size: 14px;
  box-sizing: border-box;
}
