* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*css reset*/
.input-field {
  flex: 1;
  padding: 0.6rem 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  text-align: center;
}

