#headline{
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 4rem;
}

.landing-header{
    height: 30rem;
    text-align: center;
    min-width: 30%;
    
}

.tagline{

    font-size: 1.5rem;
}


.landing-background {
    background: linear-gradient(270deg,#b0fcc6,#c5fcd5,#9dbffe,#8cb3fe);
    background-size: 180% 180%;
    animation: gradient-animation 27s ease infinite;
    height: 1000vh;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .landing-button {
    width: 100%;             
    max-width: 30rem;           
    font-size: 600;      
  }
  
  .landing-button-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;             
    margin-top: 2rem;
  }

#landingText {
    margin: 25px;
    align-items: center;
    display: grid;
    padding: 10px;

}



