.register-main {
    max-width: 80%;
  }
  
  .register-title {
 
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .input-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .input-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin: 0.4rem 0.2rem;
    
  }
  
  .input-field {
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: rem;
    text-align: center;
    box-sizing: border-box;
  }
  
   .error {
    color: red;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .continue-button {
    display: block;
    margin: 2rem auto 0;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    border: 1px solid #ccc;
    border-radius: 25px;
    background: white;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .continue-button:hover {
    background-color: #a8b4c3;  


  }
  
  @media (max-width: 600px) {
    .input-group {
      flex: 1 1 100%;
    }
  }
  

  
  
  