.register-main {
  max-width: 60%;
  margin-bottom: 7rem;
}

.register-title {
  margin-bottom: 1rem;
  text-align: center;
}

.register-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.register-row {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}


.register-row input:focus {
  outline: none;
  border-color: #82dce2;
}

.register-row select:focus {
  outline: none;
  border-color: #82dce2;
}


.register-row label {
  margin: 0.4rem 0.2rem;
}

.error {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
}

.continue-button {
  padding: 12px;
    border-radius: 16px;
    font-size: 16px;
    width: 100%;
    margin-top: 0.5rem;
    background: linear-gradient(90deg, #cbfdda, #96bbff);
    color: #000;
    font-weight: 600;
    border: 1px solid #7291b9; 
    cursor: pointer;
    transition: transform 0.2s ease;
}

.continue-button:hover {
  background-color: #82dce2;
  border-color: #82dce2;
  color: white;
}

@media (max-width: 600px) {
  .register-row {
    flex: 1 1 100%;
  }
}